<div class="sticky-top navbar navbar-expand-md navbar-dark">
	<a class="navbar-brand" href="/">
		SCIENTIFIC CENTER
	</a>
	<!-- Hamburger button on small screens -->
	<!-- Use '.collapse .nav-toggled' on elements that will be toggled -->
	<button class="navbar-toggler"
		data-toggle="collapse"
		data-target=".nav-toggled">
			<span class="navbar-toggler-icon"></span>
	</button>

	<div class="navbar-collapse collapse nav-toggled">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link"
					ui-sref="articles"
					ui-sref-active="active">
						<i class="far fa-newspaper"></i>
						Articles
				</a>
			</li>
			<li class="nav-item" ng-if="$root.user">
				<a class="nav-link"
					ui-sref="journals"
					ui-sref-active="active">
						<i class="fas fa-chalkboard-teacher"></i>
						Submit an Article
				</a>
			</li>
			<li class="nav-item" ng-if="$root.user">
				<a class="nav-link"
					ui-sref="tasks"
					ui-sref-active="active">
						<i class="fas fa-thumbtack"></i>
						Tasks
				</a>
			</li>
			<li class="nav-item" ng-if="!$root.user">
				<a class="nav-link"
					ui-sref="authentication"
					ui-sref-active="active">
						<i class="fas fa-sign-in-alt"></i>
						Log In / Register
				</a>
			</li>
			<li class="nav-item" ng-if="$root.user">
				<a class="nav-link"
					ui-sref="profile"
					ui-sref-active="active">
						<i class="fas fa-user-circle"></i>
						{{$root.user.email}}
				</a>
			</li>
			<li class="nav-item" ng-if="$root.user">
				<a class="nav-link"
					ng-click="$ctrl.logOut()">
						<i class="fas fa-sign-out-alt"></i>
						Log Out
				</a>
			</li>
		</ul>
	</div>
</div>
