<h2 class="text-center my-3">
	<i class="fas fa-tasks"></i>
	{{$ctrl.task.journalName}}
	<span ng-show="$ctrl.task.title">//</span>
	{{$ctrl.task.title}}
	|
	{{$ctrl.task.name}}
</h2>
<form name="taskForm" class="form-row justify-content-center">
	<div class="col-lg-6">
		<div class="form-group" ng-repeat="field in $ctrl.task.formFields track by field.id">
			<label for="input{{field.id}}">
				{{field.label}}
			</label>
			<span ng-switch="field.id">
				<select ng-switch-when="fieldOfStudyId"
					id="input{{field.id}}"
					class="custom-select"
					ng-model="$ctrl.form[field.id]"
					required>
						<option value="">---Select a {{field.label}}---</option>
						<option ng-repeat="fieldOfStudy in $ctrl.task.fieldsOfStudy track by fieldOfStudy.id"
							value="{{fieldOfStudy.id}}">{{fieldOfStudy.name}}</option>
				</select>
				<input ng-switch-when="pdfContent"
					type="file"
					id="input{{field.id}}"
					class="custom-file"
					placeholder="{{field.label}}"
					ng-model="$ctrl.form[field.id]"
					base-sixty-four-input
					accept="application/pdf"
					required/>
				<div ng-switch-when="coauthors" class="ml-5">
					<div ng-repeat="num in $ctrl.coauthorNumber track by $index">
						<p>{{$index + 1}}.</p>
						<input ng-repeat="coauthorField in $ctrl.coauthorFields track by $index"
							type="text"
							class="form-control my-1"
							placeholder="{{coauthorField.name}}"
							ng-model="$ctrl.form.coauthors[$parent.$index][coauthorField.code]"
							required/>
					</div>
					<button class="btn btn-custom my-1" ng-click="$ctrl.coauthorNumber.push({})">
						<i class="fas fa-plus"></i>
						Add a coauthor
					</button>
				</div>
				<select ng-switch-when="reviewers"
					id="input{{field.id}}"
					class="custom-select"
					ng-model="$ctrl.form[field.id]"
					multiple
					required>
						<option ng-repeat="reviewer in $ctrl.task.reviewers track by reviewer.id"
							value="{{reviewer.id}}">
							{{reviewer.name}}
							{{reviewer.lastName}}
							{{reviewer.title}}
						</option>
				</select>
				<div ng-switch-when="review">
					<input ng-repeat="reviewField in $ctrl.reviewFields track by $index"
						type="text"
						class="form-control my-1"
						placeholder="{{reviewField.name}}"
						ng-model="$ctrl.form.review[reviewField.code]"
						required/>
				</div>
				<span ng-switch-default>
					<div ng-if="field.typeName === 'boolean'" class="form-check">
						<input type="checkbox"
							id="input{{field.id}}"
							class="form-check-input"
							ng-model="$ctrl.form[field.id]">
						<label class="form-check-label" for="input{{field.id}}">
							{{field.label.substring(0, field.label.length - 1)}}
						</label>
					</div>
					<select ng-if="field.typeName === 'enum'"
						id="input{{field.id}}"
						class="custom-select"
						ng-model="$ctrl.form[field.id]"
						required>
							<option value="">---{{field.label}}---</option>
							<option ng-repeat="(enumKey, enumValue) in field.type.values"
								value="{{enumKey}}">{{enumValue}}</option>
					</select>
					<input ng-if="field.typeName !== 'boolean' && field.typeName !== 'enum'"
						type="text"
						id="input{{field.id}}"
						class="form-control"
						placeholder="{{field.label}}"
						ng-model="$ctrl.form[field.id]"
						required/>
				</span>
			</span>
		</div>
		<input type="submit"
			class="btn btn-custom"
			value="Submit"
			ng-click="taskForm.$valid && $ctrl.submit()"/>
		<p>
			{{$ctrl.status}}
		</p>
	</div>
</form>

<!-- Article preview -->
<div class="row no-gutters align-items-stretch justify-content-center">
	<div class="col-md-6" ng-if="$ctrl.task.title">
		<h2 class="text-center">Article:</h2>
		<div class="card m-md-1">
			<div class="card-body">
				<h3 class="card-title d-flex align-items-center justify-content-center">
					{{$ctrl.task.title}}
					<span class="badge badge-custom ml-2">
						{{$ctrl.task.fieldOfStudy.name | uppercase}}
					</span>
				</h3>
				<hr/>
				<p class="card-text">
					<i class="far fa-user-circle"></i>
					<strong>Authors:</strong>
					<p class=ml-3>
						{{$ctrl.task.author.name}}
						{{$ctrl.task.author.lastName}}
						{{$ctrl.task.author.title}}
					</p>
					<p class="ml-3" ng-repeat="coauthor in $ctrl.task.coauthors track by coauthor.id">
						{{coauthor.name}}
						{{coauthor.lastName}}
						{{coauthor.title}}
					</p>
				</p>
				<p class="card-text">
					<i class="fas fa-key"></i>
					<strong>Keywords:</strong>
					<p class="ml-3">
						{{$ctrl.task.keywords}}
					</p>
				</p>
				<p class="card-text">
					<i class="fas fa-bookmark"></i>
					<strong>Abstract:</strong>
					<p class="ml-3">
						{{$ctrl.task.articleAbstract}}
					</p>
				</p>
			</div>
		</div>
	</div>

	<div class="col-md-6" ng-if="$ctrl.task.mainEditorComment">
		<h2 class="text-center">Comments:</h2>
		<div class="card m-md-1" ng-if="$ctrl.task.authorComment">
			<div class="card-header">
				Author's comment:
			</div>
			<div class="card-body">
				<p class="card-text">
					{{$ctrl.task.authorComment}}
				</p>
			</div>
		</div>
		<div class="card m-md-1">
			<div class="card-header">
				Main editor's comment:
			</div>
			<div class="card-body">
				<p class="card-text">
					{{$ctrl.task.mainEditorComment}}
				</p>
			</div>
		</div>
		<div class="card m-md-1"
			ng-repeat="review in $ctrl.task.reviews">
				<div class="card-header">
					{{$index}}. reviewer's comment:
				</div>
				<div class="card-body">
					<p class="card-text">
						{{review.comment}}
					</p>
					<p ng-if="$root.user.userType !== 'AUTHOR'" class="card-text">
						Recommendation:
						{{review.recommendation}}
					</p>
					<p ng-if="$root.user.userType !== 'AUTHOR'" class="card-text">
						Comment not visible to the author:
						{{review.hiddenComment}}
					</p>
				</div>
		</div>
	</div>
</div>

<!-- Document preview -->
<div class="row justify-content-center align-items-center">
	<object class="col-md-10 m-md-2"
		height="800"
		ng-if="$ctrl.task.pdfContent"
		data="data:application/pdf;base64,{{$ctrl.task.pdfContent}}">
	</object>
</div>
