<div class="text-center my-3">
	<h2>Article list:</h2>
	<!--Search box-->
	<form class="form-row justify-content-center">
		<div class="col-md-6">
			<div class="form-group input-group">
				<input type="text"
					class="form-control"
					placeholder="Search"
					ng-model="$ctrl.query"
					ng-change="$ctrl.searchAll()"
					autofocus/>
				<div class="input-group-append">
					<span class="input-group-text">
						<i class="fas fa-search"></i>
					</span>
					<button class="btn btn-custom mx-1" ng-click="$ctrl.resetSearch()">
						<i class="fas fa-backspace"></i>
						Reset search
					</button>
					<button class="btn btn-custom mx-1"
						ng-click="$ctrl.advancedEnabled = !$ctrl.advancedEnabled">
						<i class="fas fa-th-list"></i>
						Advanced search
					</button>
					<button class="btn btn-custom"
						ng-if="$root.user"
						ng-click="$ctrl.searchGeodistance()">
						<i class="fas fa-map-marker-alt"></i>
						Geodistance
					</button>
				</div>
			</div>
		</div>
	</form>
	<div ng-show="$ctrl.advancedEnabled" class="panel">
		<my-advanced-search
			reset="$ctrl.advancedReset"
			on-change="$ctrl.searchAdvanced">
		</my-advanced-search>
	</div>
	<!--Order box-->
	<div>
		Order by:
		<ul class="list-inline d-inline">
			<li class="list-inline-item separate">
				<a ng-click="$ctrl.orderBy('title')">Title</a>
				<span ng-show="$ctrl.order === 'title'">
					<i class="fas fa-sort-up" ng-show="!$ctrl.isReverse"></i>
					<i class="fas fa-sort-down" ng-show="$ctrl.isReverse"></i>
				</span>
			</li>
			<li class="list-inline-item separate">
				<a ng-click="$ctrl.orderBy('author.name')">Author</a>
				<span ng-show="$ctrl.order === 'author.name'">
					<i class="fas fa-sort-up" ng-show="!$ctrl.isReverse"></i>
					<i class="fas fa-sort-down" ng-show="$ctrl.isReverse"></i>
				</span>
			</li>
			<li class="list-inline-item separate">
				<a ng-click="$ctrl.orderBy('journal.name')">Journal</a>
				<span ng-show="$ctrl.order === 'journal.name'">
					<i class="fas fa-sort-up" ng-show="!$ctrl.isReverse"></i>
					<i class="fas fa-sort-down" ng-show="$ctrl.isReverse"></i>
				</span>
			</li>
			<li class="list-inline-item separate">
				<a ng-click="$ctrl.orderBy('fieldOfStudy.name')">Field of study</a>
				<span ng-show="$ctrl.order === 'fieldOfStudy.name'">
					<i class="fas fa-sort-up" ng-show="!$ctrl.isReverse"></i>
					<i class="fas fa-sort-down" ng-show="$ctrl.isReverse"></i>
				</span>
			</li>
		</ul>
	</div>
</div>

<!--List-->
<div class="row no-gutters align-items-stretch">
	<div ng-repeat="article in $ctrl.articles | orderBy:$ctrl.order:$ctrl.isReverse track by article.id"
		class="col-lg-4 col-md-6 mb-2">
			<div class="card m-md-1 h-100">
				<div class="card-body">
					<h3 class="card-title d-flex align-items-center justify-content-center">
						{{article.title}}
						<span class="badge badge-custom ml-2">
							{{article.fieldOfStudy.name | uppercase}}
						</span>
					</h3>
					<div class="card-subtitle d-flex align-items-center justify-content-center mb-3 text-muted">
						<i class="far fa-newspaper"></i>
						{{article.journal.name}}
						<span class="badge badge-custom ml-2">
							<span ng-if="article.journal.openAccess">
								OPEN ACCESS
							</span>
							<span ng-if="!article.journal.openAccess">
								NONFREE
							</span>
						</span>
					</div>
					<hr/>
					<p class="card-text">
						<i class="far fa-user-circle"></i>
						<strong>Authors:</strong>
						<p class=ml-3>
							{{article.author.name}}
							{{article.author.lastName}}
							{{article.author.title}}
						</p>
						<p class="ml-3" ng-repeat="coauthor in article.coauthors track by coauthor.id">
							{{coauthor.name}}
							{{coauthor.lastName}}
							{{coauthor.title}}
						</p>
					</p>
					<p class="card-text">
						<i class="fas fa-key"></i>
						<strong>Keywords:</strong>
						<p class="ml-3">
							{{article.keywords}}
						</p>
					</p>
					<p class="card-text">
						<i class="fas fa-bookmark"></i>
						<strong>Abstract:</strong>
						<p class="ml-3">
							{{article.articleAbstract}}
						</p>
					</p>
					<p class="card-text" ng-if="article.searchPreview">
						<i class="fas fa-search"></i>
						<strong>Search highlight:</strong>
						<p ng-bind-html="article.searchPreview">
						</p>
					</p>
				</div>
				<div class="card-footer text-center">
					<a ng-if="article.hasAccess" ui-sref="document({articleId: article.id})">
						<i class="fas fa-download"></i>
						<span ng-if="article.journal.openAccess">
							Free download
						</span>
						<span ng-if="!article.journal.openAccess">
							Article is already purchased. Download here
						</span>
					</a>
					<a ng-if="!article.hasAccess && $root.user" ng-click="$ctrl.buy(article.id)" href="">
						<i class="far fa-credit-card"></i>
						Purchase for
						<strong>{{article.journal.price | currency}}</strong>
					</a>
					<a ng-if="!article.hasAccess && !$root.user" ui-sref="authentication">
						<i class="fas fa-fingerprint"></i>
						Log in to purchase this article
					</a>
					<span class="separate mx-2"></span>
					<a ng-click="$ctrl.searchMoreLikeThis(article.id)" href="">
						<i class="fas fa-thumbs-up"></i>
						Find more like this
					</a>
				</div>
			</div>
	</div>
</div>
