<form class="form-row justify-content-center text-left">
	<div class="col-lg-6">
		<div class="form-group" ng-repeat="field in $ctrl.fields track by $index">
			<label for="input{{field.code}}">
				{{field.name}}
			</label>
			<div class="input-group">
				<input type="text"
					id="input{{field.code}}"
					class="form-control"
					placeholder="Search by {{field.name}}"
					ng-model="$ctrl.query[field.code].query"
					ng-change="$ctrl.change()"/>
				<div class="input-group-append">
					<div class="input-group-text">
						<label class="form-check-label mr-2" for="input{{field.code}}Optional">
							<i class="fas fa-question-circle"></i>
							Optional?
						</label>
						<input type="checkbox" id="input{{field.code}}Optional"
							ng-disabled="!$ctrl.query[field.code].query"
							ng-model="$ctrl.query[field.code].isOptional"
							ng-change="$ctrl.change()">
					</div>
					<div class="input-group-text">
						<label class="form-check-label mr-2" for="input{{field.code}}Phrase">
							<i class="fas fa-quote-right"></i>
							Phrase?
						</label>
						<input type="checkbox" id="input{{field.code}}Phrase"
							ng-disabled="!$ctrl.query[field.code].query"
							ng-model="$ctrl.query[field.code].isPhrase"
							ng-change="$ctrl.change()">
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
