<form class="form-row justify-content-center">
	<div class="col-lg-6">
		<!-- Journal Name -->
		<div class="form-group input-group">
			<div class="input-group-prepend">
				<div class="input-group-text">
					Journal name:
				</div>
			</div>
			<input type="text"
				id="inputJournal"
				class="form-control"
				placeholder="Search by journal name"
				ng-model="$ctrl.query.journalName.query"
				ng-change="$ctrl.change()"/>
			<div class="input-group-append">
				<div class="input-group-text">
					<label class="form-check-label mr-2" for="inputJournalOptional">
						<i class="fas fa-question-circle"></i>
						Optional?
					</label>
					<input type="checkbox" id="inputJournalOptional"
						ng-model="$ctrl.query.journalName.isOptional"
						ng-change="$ctrl.change()">
				</div>
				<div class="input-group-text">
					<label class="form-check-label mr-2" for="inputJournalPhrase">
						<i class="fas fa-quote-right"></i>
						Phrase?
					</label>
					<input type="checkbox" id="inputJournalPhrase"
						ng-model="$ctrl.query.journalName.isPhrase"
						ng-change="$ctrl.change()">
				</div>
			</div>
		</div>
		<!-- Title -->
		<div class="form-group input-group">
			<div class="input-group-prepend">
				<div class="input-group-text">
					Title:
				</div>
			</div>
			<input type="text"
				id="inputTitle"
				class="form-control"
				placeholder="Search by title"
				ng-model="$ctrl.query.title.query"
				ng-change="$ctrl.change()"/>
			<div class="input-group-append">
				<div class="input-group-text">
					<label class="form-check-label mr-2" for="inputTitleOptional">
						<i class="fas fa-question-circle"></i>
						Optional?
					</label>
					<input type="checkbox" id="inputTitleOptional"
						ng-model="$ctrl.query.title.isOptional"
						ng-change="$ctrl.change()">
				</div>
				<div class="input-group-text">
					<label class="form-check-label mr-2" for="inputTitlePhrase">
						<i class="fas fa-quote-right"></i>
						Phrase?
					</label>
					<input type="checkbox" id="inputTitlePhrase"
						ng-model="$ctrl.query.title.isPhrase"
						ng-change="$ctrl.change()">
				</div>
			</div>
		</div>
		<!-- Keywords -->
		<div class="form-group input-group">
			<div class="input-group-prepend">
				<div class="input-group-text">
					Keywords:
				</div>
			</div>
			<input type="text"
				id="inputKeywords"
				class="form-control"
				placeholder="Search by keywords"
				ng-model="$ctrl.query.keywords.query"
				ng-change="$ctrl.change()"/>
			<div class="input-group-append">
				<div class="input-group-text">
					<label class="form-check-label mr-2" for="inputKeywordsOptional">
						<i class="fas fa-question-circle"></i>
						Optional?
					</label>
					<input type="checkbox" id="inputKeywordsOptional"
						ng-model="$ctrl.query.keywords.isOptional"
						ng-change="$ctrl.change()">
				</div>
				<div class="input-group-text">
					<label class="form-check-label mr-2" for="inputKeywordsPhrase">
						<i class="fas fa-quote-right"></i>
						Phrase?
					</label>
					<input type="checkbox" id="inputKeywordsPhrase"
						ng-model="$ctrl.query.keywords.isPhrase"
						ng-change="$ctrl.change()">
				</div>
			</div>
		</div>
		<!-- Article Abstract -->
		<div class="form-group input-group">
			<div class="input-group-prepend">
				<div class="input-group-text">
					Abstract:
				</div>
			</div>
			<input type="text"
				id="inputAbstract"
				class="form-control"
				placeholder="Search by abstract"
				ng-model="$ctrl.query.articleAbstract.query"
				ng-change="$ctrl.change()"/>
			<div class="input-group-append">
				<div class="input-group-text">
					<label class="form-check-label mr-2" for="inputAbstractOptional">
						<i class="fas fa-question-circle"></i>
						Optional?
					</label>
					<input type="checkbox" id="inputAbstractOptional"
						ng-model="$ctrl.query.articleAbstract.isOptional"
						ng-change="$ctrl.change()">
				</div>
				<div class="input-group-text">
					<label class="form-check-label mr-2" for="inputAbstractPhrase">
						<i class="fas fa-quote-right"></i>
						Phrase?
					</label>
					<input type="checkbox" id="inputAbstractPhrase"
						ng-model="$ctrl.query.articleAbstract.isPhrase"
						ng-change="$ctrl.change()">
				</div>
			</div>
		</div>
		<!-- Attachment content -->
		<div class="form-group input-group">
			<div class="input-group-prepend">
				<div class="input-group-text">
					Attachment content:
				</div>
			</div>
			<input type="text"
				id="inputAttachment"
				class="form-control"
				placeholder="Search by attachment content"
				ng-model="$ctrl.query.attachment.query"
				ng-change="$ctrl.change()"/>
			<div class="input-group-append">
				<div class="input-group-text">
					<label class="form-check-label mr-2" for="inputAttachmentOptional">
						<i class="fas fa-question-circle"></i>
						Optional?
					</label>
					<input type="checkbox" id="inputAttachmentOptional"
						ng-model="$ctrl.query.attachment.isOptional"
						ng-change="$ctrl.change()">
				</div>
				<div class="input-group-text">
					<label class="form-check-label mr-2" for="inputAttachmentPhrase">
						<i class="fas fa-quote-right"></i>
						Phrase?
					</label>
					<input type="checkbox" id="inputAttachmentPhrase"
						ng-model="$ctrl.query.attachment.isPhrase"
						ng-change="$ctrl.change()">
				</div>
			</div>
		</div>
		<!-- Field of study -->
		<div class="form-group input-group">
			<div class="input-group-prepend">
				<div class="input-group-text">
					Field of study:
				</div>
			</div>
			<input type="text"
				id="inputFieldOfStudy"
				class="form-control"
				placeholder="Search by field of study"
				ng-model="$ctrl.query.fieldOfStudy.query"
				ng-change="$ctrl.change()"/>
			<div class="input-group-append">
				<div class="input-group-text">
					<label class="form-check-label mr-2" for="inputFieldOfStudyOptional">
						<i class="fas fa-question-circle"></i>
						Optional?
					</label>
					<input type="checkbox" id="inputFieldOfStudyOptional"
						ng-model="$ctrl.query.fieldOfStudy.isOptional"
						ng-change="$ctrl.change()">
				</div>
				<div class="input-group-text">
					<label class="form-check-label mr-2" for="inputFieldOfStudyPhrase">
						<i class="fas fa-quote-right"></i>
						Phrase?
					</label>
					<input type="checkbox" id="inputFieldOfStudyPhrase"
						ng-model="$ctrl.query.fieldOfStudy.isPhrase"
						ng-change="$ctrl.change()">
				</div>
			</div>
		</div>
	</div>
</form>
